# for testing, please replace with your own model and endpoint
# --- LLM Configuration ---
OPENAI_BASE_URL=
OPENAI_API_KEY=
MODEL_NAME=


# --- LangSmith Configuration ---
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=
LANGSMITH_ENDPOINT=